.img2{
    height: 200px;
    width: 200px;
}

.img1{
    height: 200px;
    width: 200px;
}

.img3{
    height: 200px;
    width: 200px;
}

.menu{
    float: left;
    list-style: none;
    position: fixed;
    width: 100%;
    top: 0px;      
}

.links{
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}